@import "../../styles/_variables";

.footer {
  margin: 36px 0 0;
  width: 100%;
  &-navigation {
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    column-gap: 16px;
    row-gap: 48px;
    &:not(:last-child) {
      margin-bottom: 48px;
    }
    &__menu {
      &-list {
        display: grid;
        gap: 25px;
      }
      &-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      &-link {
        font-size: 16px;
        font-weight: 400;
        color: $txtDescr;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
        &_bold {
          font-size: 20px;
          font-weight: 700;
          color: $textColor;
        }
      }
    }
    &__title {
      color: $textColor;
      font-size: 16px;
      font-weight: bold;
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    .MuiAccordion-root {
      box-shadow: none;

      &::before {
        display: none;
      }
    }

    .MuiAccordionDetails-root {
      display: grid;
      gap: 25px;
    }

    .MuiAccordionSummary-content {
      font-weight: 700;
    }
  }
  &-social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 24px;
    padding: 0 30px 25px;
    &__link {
      width: 28px;
      height: 28px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-copyright {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 24px;
    padding: 15px 30px 0;
    border-top: 1px solid #e7e7e7;
    span {
      font-size: 14px;
      color: $txtDescr;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-height: 65px;
      }
    }
  }
}
