@import "../../src/styles/variables";

.finalize {
  flex-grow: 1;

  &__body {
    display: grid;
    grid-template-columns: 1fr minmax(350px, 400px);
    grid-gap: 40px;
  }

  &__left {
    width: 100%;
  }
  &-right {
    position: relative;
  }
  &__order,
  &__delivery,
  &__adress,
  &__conditions,
  &__payment,
  &__pickup {
    background: #fff;
    border-radius: 8px;
    box-shadow: 8px 8px 16px hsla(236, 6%, 49%, 0.15);
    padding: 24px;
    margin-bottom: 24px;
  }

  &__delivery {
    &-title {
      font-size: 18px;
      color: $textColor;
      margin-bottom: 24px;
    }

    &-btns {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border: 1px solid #d4d7db;
      color: $titleColor;
      max-width: 175px;
      width: 100%;
      height: 48px;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 9px 16px;
      border-radius: 8px;
      opacity: 0.8;

      &:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      &:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      &.active {
        background: #d4d7db;
        border: 1px solid #333;
        opacity: 1;
      }
    }
  }

  &__adress {
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 24px;
      margin-bottom: 24px;
      //  max-width: 740px;
    }

    &-btns {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-top: 24px;
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f5f5f5;
      border-radius: 8px;
      border: 1px solid #f5f5f5;
      color: rgba(29, 29, 29, 0.5);
      padding: 9px 16px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: rgba(29, 29, 29, 0.5);
        color: #fff;
      }
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked + .custom-checkbox {
      background: #000;

      &::after {
        content: "";
        position: absolute;
        left: 6px;
        top: 2px;
        width: 5px;
        height: 12px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }

  &__input {
    width: 100%;

    &-wrapper {
      position: relative;

      input,
      select {
        width: 100%;
        height: 56px;
        padding: 18.5px 40px 18.5px 14px;
        border-radius: 8px;
        border: 1px solid rgb(219, 221, 221);
      }

      input:focus,
      input:hover,
      select:focus,
      select:hover {
        border: 2px solid rgb(108, 105, 128);
        outline: none;
      }

      label {
        position: absolute;
        top: 18.5px;
        left: 14px;
        color: rgb(219, 221, 221);
        font-size: 16px;
        pointer-events: none;
        transition: 0.2s ease;
      }

      input:focus + label,
      input:not(:placeholder-shown) + label {
        top: -0.5rem;
        left: 0.4rem;
        font-size: 12px;
        background: white;
        padding: 0 5px;
        color: rgba(0, 0, 0, 0.87);
      }

      options {
        padding: 6px 16px;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  &__pickup {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    &-wrapper {
      // display: flex;
      // align-items: flex-start;
      // justify-content: flex-start;
    }
    &-info {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 24px;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
    &-btn {
      border: none;
      background: transparent;
      //background-image: url('/src/assets/icon/pin-green.svg');
      background-position: left center;
      background-size: 14px;
      font-size: 16px;
      color: $green;
      background-repeat: no-repeat;
      padding-left: 24px;
      cursor: pointer;
    }
    &-title {
      font-size: 18px;
      font-weight: 700;
      color: $textColor;
    }
    &-tip {
      color: $txtDescr;
    }
    &-location {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      row-gap: 5px;
    }
    &-items {
      width: 100%;
      border: 1px solid #dbdddd;
      border-radius: 8px;
      max-height: 400px;
      overflow-y: scroll;
    }
    &-item {
      margin-right: 16px;
      padding: 10px 15px;
      border-bottom: 1px solid #dbdddd;
      &:last-child {
        border: none;
      }
    }
    &-empty {
      width: 100%;
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $txtDescr;
    }
  }
  &__order {
    position: sticky;
    top: 140px;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
    &-title {
      font-size: 24px;
      font-weight: 700;
      color: $textColor;
    }

    &-edit {
      font-size: 14px;
      font-weight: 400;
      color: $red;
      text-decoration: none;
    }
    &-items {
      display: grid;
      grid-gap: 16px;
      margin-bottom: 16px;
    }
    &-item {
      border-bottom: 1px solid #efefef;
      &:last-child button {
        display: block;
      }
      &:last-child {
        border-bottom: 1px dashed #efefef;
      }
      &-body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 16px;
      }
    }
    &-image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 110px;
      width: 110px;
      height: 90px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &-content {
      flex-grow: 1;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      row-gap: 16px;
    }
    &-title {
      font-size: 16px;
      font-weight: bold;
      color: $textColor;
      text-transform: uppercase;
      text-decoration: none;
    }
    &-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-weight {
      color: $txtDescr;
      font-size: 14px;
      font-weight: 400;
    }
    &-quantity {
      margin-left: 30px;
      color: $txtDescr;
      font-size: 14px;
      font-weight: 400;
    }
    &-amount {
      font-size: 18px;
      font-weight: 700;
      color: $textColor;
    }
    &-switch {
      display: none;
      padding: 5px 0 15px;
      font-size: 14px;
      font-weight: 700;
      color: $red;
      text-decoration: none;
      background: #fff;
      border: none;
    }
  }

  &__amount {
    display: grid;
    grid-gap: 16px;
    width: 100%;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    &-general {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 24px;
      font-weight: 700;
      color: $titleColor;
    }
    &-promo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 14px;
      font-weight: 700;
      color: $textColor;
      border: none;
      background: #fff;
    }
  }
  &__privacy {
    &-children {
      font-size: 16px;
      color: $textColor;
      span {
        font-weight: 700;
      }
    }
    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked + .custom-checkbox {
      background: #000;

      &::after {
        content: "";
        position: absolute;
        left: 6px;
        top: 2px;
        width: 5px;
        height: 12px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }

  .error {
    font-size: 12px;
    color: #e30613;
    margin: 5px 0;
  }

  .checkbox {
    display: flex;
    align-items: center;
  }

  .custom-checkbox {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
    border: 3px solid rgba(0, 0, 0, 0.543);
    border-radius: 3px;
    margin-right: 15px;
    position: relative;
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.radio-option {
  position: relative;
  display: flex;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;

  input[type="radio"] {
    opacity: 0;
    position: absolute;
  }

  .custom-radio {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
  }

  input[type="radio"]:checked + .custom-radio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    background: #333;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  .radio-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.delivery-notice {
  font-size: 16px;
  color: $descrColor;

  span {
    color: $green;
    font-size: 16px;
    font-weight: 700;
    margin-left: 16px;
  }
}

.delivery-ondate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
}
@media (min-width: 1300px) {
  .finalize__adress-wrapper {
    max-width: 740px;
  }
}
@media (max-width: 1300px) {
  .finalize__adress-wrapper {
    > :first-child {
      grid-column: span 2;
    }
    > :last-child {
      grid-column: span 2;
    }
  }
}
@media (max-width: 991px) {
  .finalize__body {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .finalize__adress-wrapper {
    > :first-child {
      grid-column: span 1;
    }
    > :last-child {
      grid-column: span 1;
    }
  }
}
