.cards {
  &__items {
    width: 100%;
    display: grid;
    align-items: stretch;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    // grid-template-rows: 465px;
    // grid-auto-rows: 465px;
  }
}