 @import '../../styles/variables';

.btn {
  background-color: $red;
  width: 150px;
  height: 48px;
  border-radius: 8px;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 700;
  border: none;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  &-active {
    background-color: $pink;
    color: $red;
  }
  &__control {
    border: none;
    background-color: inherit;
    font-size: 18px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  div {
    border-radius: 8px;
    border: 1px solid $red;
    width: 150px;
    height: 48px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    position: relative;
    z-index: 3;
  }
}
.cart-item {
  .btn {
    background: transparent;
    //margin: 0 30px;
    div {
      border: 1px solid #e7e7e7;
      color: $textColor;
      width: 108px;
    }
  }
}